* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
#body {
  background-color: rgb(245, 245, 245);
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  margin: auto;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.navbar {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  max-width: calc(100% - 100px);
  width: 100%;
  left: 50%;
  /* background-color: #dadada; */
  transform: translateX(-50%);
  margin-top: 5px;
}
.hide-nav {
  top: -100px;
}
.active {
  background-color: #e7e7e7;
  padding: 10px 5px;
  border-radius: 10px;
}
.tablinks {
  display: block;
  text-transform: capitalize;
}
.tablinks.active {
  color: #fff;
}

.nav-links {
  width: 70%;
}
.social-links {
  width: 25%;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-item {
  list-style: none;
  width: 20%;
}
.nav-item.close-btn {
  display: none;
}
.nav-item a {
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: rgb(15, 15, 15);
  font-weight: 500;
  font-size: 20px;
}
.nav-item a:visited {
  color: rgb(15, 15, 15);
  text-decoration: none;
  width: 100%;
}
.hero {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 18% 0;
  flex-flow: row nowrap;
  width: 100%;
}
.hero-image {
  width: 200px;
  height: 200px;
  margin: 30px 0;
}
.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.intro-text {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}
.intro-text h2 {
  font-size: 3rem;
  color: rgba(4, 4, 4, 0.774);
  margin: 0;
  font-weight: 500;
}
.contact-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.text-content {
  padding: 20px;
}
.text-content h2 {
  font-size: 2.5rem;
  color: rgb(21, 22, 24);
  margin: 10px 0;
}
.text-content p {
  font-size: 1.5rem;
  color: rgba(15, 15, 15, 0.788);
  margin: 10px 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contact-button {
  display: flex;
  padding-left: 20px;
}
.hidden {
  display: none;
}

.contact-page {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in forwards;
  opacity: 0;
}
.my-work {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s ease-in forwards;
  opacity: 0;
  animation-delay: 1.6s;
}
.contact-buttons {
  padding: 15px;
}
.contact-me {
  padding: 15px;
  background-color: rgb(0, 0, 0);
  width: 160px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}
.my-work-button {
  padding: 15px;
  background-color: transparent;
  width: 160px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(201, 202, 202);
  outline: none;
  border-radius: 5px;
}

.tabcontent {
  animation: fadeEffect 1s ease-in;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-icon {
  display: none;
}
@media screen and (max-width: 1366px) {
  .hero {
    margin: 10% 0;
  }
}

@media screen and (max-width: 1200px) {
  .hero-image {
    width: 45px;
    height: 100%;
  }
  .intro-text h2 {
    font-size: 1.5rem;
  }
  .contact-wrapper {
    width: 70%;
    padding-left: 0;
  }
  .text-content {
    padding-right: 50px;
  }
  .text-content h2 {
    font-size: 1.5rem;
  }
  .text-content p {
    font-size: 1rem;
  }
  .contact-button {
    padding: 0 20px;
    width: 100%;
  }
  .my-work {
    padding-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
  .hero-image {
    width: 40px;
    height: 100%;
  }
  .intro-text h2 {
    font-size: 2.5rem;
  }
  .introduction {
    width: 100%;
  }
  .contact-wrapper {
    width: 100%;
  }
  .text-content {
    padding: 30px 0;
  }
  .text-content h2 {
    font-size: 1.5rem;
  }
  .text-content p {
    font-size: 1rem;
  }
  .contact-button {
    padding: 0;
    width: 100%;
  }
  .my-work {
    padding-left: 0;
  }
  .navbar {
    display: none;
  }
  .menu-icon {
    display: block;
    padding: 0 20px;
  }
  .flex-container{
    display: flex;
    justify-content: space-between;
  }
  .bar-1,
  .bar-2,
  .bar-3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .nav-list {
    display: block;
    text-align: left;
  }
  .nav-item {
    width: 100%;
    padding: 15px;
  }
  .nav-item a {
    text-align: left;
    font-size: 25px;
    display: block;
    transition: all 0.3s ease-in;
  }
  .nav-item a:hover {
    color: #666666;
  }
  .nav-links {
    width: 100%;
  }
  .section-two {
    margin-top: 0 !important;
  }
  .nav-item.close-btn {
    display: list-item;
    position: absolute;
    top: 0;
    left: 120px;

    margin-left: 50px;
  }

  .responsive-navbar {
    display: flex;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0; /* Initial width set to 0 */
    transition: width 0.5s ease-in-out; /* Updated transition property */
    background-color: #dadada;
    overflow-x: hidden;
    padding: 60px 0 0;
    margin-top: 0;
    max-width: 100%;
    transform: none;
  }
  .navbar-open{
    width: 250px;
  }
  #closebtn {
    font-size: 30px;
  }
}
